/* Navbar Styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: #333;
    color: white;
}

.nav h3 {
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav a[href="#"] {
    background-color: #913a34;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav a:hover {
    text-decoration: underline;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    /* Ensure navbar is above sidebar */
    background-color: #333;
    color: white;
}

/* Sidebar Styles */
.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 90;
    /* Keep sidebar behind navbar */
    color: white;
}

.nav button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 26px;
}

.sidebar.active {
    width: 250px;
}

/* Updated styles for Popup */
.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    display: none; /* Initially hidden */
    z-index: 999; /* Ensure it's above other content */
    max-width: 80%; /* Limit width to prevent overflow */
    max-height: 80%; /* Limit height to prevent overflow */
    overflow: hidden; /* Hide any overflowing content */
}

.login-popup.active {
    display: block; /* Display the popup when active */
}

