<div class="header">
    <nav class="nav">
        <mat-icon (click)="toggleSidebar()">menu</mat-icon>
        <h3>MyAnalyticsApp</h3>
        <div>
            <button (click)="openDialog()"><a>Login</a></button>
        </div>
    </nav>
</div>
<div class="sidebar" [ngClass]="{'active': isSidebarOpen}">
    <ul>
        <li (click)="openFBDialog()"><i class="fab fa-facebook"></i></li>
        <li (click)="openInstaDialog()"><i class="fab fa-instagram"></i></li>
        <li (click)="openLinkedInDialog()"><i class="fab fa-linkedin"></i></li>
    </ul>
</div>