<div class="login-container" style="text-align:left">
    <h2>Login</h2>
    <hr>
    <form #loginForm="ngForm">
        <div>
            <!-- <div class="fb-login-button" data-width="1000px" data-size="" data-button-type="" data-layout=""
            data-auto-logout-link="false" data-use-continue-as="true"> -->
            <button style="width: 100%;" (click)="onFacebookLoginClick()">Login with Facebook</button>
        </div>
        <!-- <div class="fb-login-button" data-width="400px" data-size="" data-button-type="" data-layout="" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
    </form>
    <!-- <div class="fb-login-button" data-width="400px" data-size="" data-button-type="" data-layout="" data-auto-logout-link="true" data-use-continue-as="false"></div> -->
</div>