.login-container {
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form div {
    margin-bottom: 15px;
}

button {
    background: linear-gradient(45deg, #3a5895, #e4405f);
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

.btn-instagram:hover {
    background: linear-gradient(45deg, #2c5185, #e03a5e);
}